<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Painel do Visitante</h1>
        <button onclick="location.href='{{ url_for('abrir_os') }}'" class="btn">Abrir O.S.</button>
        <button onclick="location.href='{{ url_for('ver_resultado_os') }}'" class="btn">Ver Resultado da O.S.</button>
        <button onclick="location.href='{{ url_for('logout') }}'" class="btn">Logout</button>
    </div>
</body>
</html>
